language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements.txt
  - pip install Cython==0.25.2 --install-option="--no-cython-compile"
  - pip install Kivy==1.10.0
  - pip install pep8
script:
- find . -name \*.py -exec pep8 --ignore=E501 {} +
